{% extends 'folders/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-container">
    <header>Login</header>
    {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %} class="message">{{ message }}</li>
            {% endfor %}
            </ul>
    {% endif %}
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-text">FirstName</label>
            <input type="text" class="form-control form-placeholder"  placeholder="Enter Username" name="first_name">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="form-text">LastName</label>
            <input type="text" class="form-control form-placeholder"  placeholder="Enter Username" name="last_name">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="form-text">Username</label>
            <input type="text" class="form-control form-placeholder"  placeholder="Enter Username" name="username">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="form-text">Email</label>
            <input type="email" class="form-control form-placeholder"  placeholder="Enter Username" name="email">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>


        <div class="form-group">
            <label for="exampleInputPassword1" class="form-text">Password</label>
            <input type="password" class="form-control form-placeholder" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1" class="form-text">Confirm Password</label>
            <input type="password" class="form-control form-placeholder" id="exampleInputPassword1" placeholder="Password" name="confirm_password">
        </div>
        <br>
        <input type="submit" class="btn btn-success" value="Submit">  

        <div class="form-group">
            <label for="">Already have an account? <a href="{% url 'login' %}">Login</a></label>
        </div>
    </form>
</div> 
{% endblock %}

